<main id="content" role="main" class="w-full max-w-md mx-auto p-6 ">
  <div class="mt-7 bg-white rounded-xl shadow-lg dark:bg-gray-800 border-2 border-indigo-300">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot password?</h1>
      </div>

      <div class="mt-5">
        <form (ngSubmit)="onSubmit()">
          <div class="grid gap-y-4">

            <!-- Step 1: Enter Email -->
            <div *ngIf="step === 1">
              <label for="email" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Email address</label>
              <input type="email" id="email" [(ngModel)]="email" name="email" class="py-3 px-4 w-full border-2 rounded-md text-sm" required>
              <button type="button" (click)="sendOtp()" class="mt-4 py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Send OTP</button>
            </div>

            <!-- Step 2: Enter OTP -->
            <div *ngIf="step === 2">
             
              <label for="otp" class="block text-sm font-bold ml-1 mb-2 dark:text-white">Enter OTP</label>
              <input type="text" id="otp" [(ngModel)]="otp" name="otp" class="py-3 px-4 w-full border-2 rounded-md text-sm" required>
              <button type="button" (click)="verifyOtp()" class="mt-4 py-2 px-4 bg-green-500 text-white rounded hover:bg-green-600">Verify OTP</button>
            </div>

            <!-- Step 3: Reset Password -->
            <div *ngIf="step === 3">
              <label for="password" class="block text-sm font-bold ml-1 mb-2 dark:text-white">New Password</label>
              <input type="password" id="password" [(ngModel)]="password" name="password" class="py-3 px-4 w-full border-2 rounded-md text-sm" required>
              <button type="submit" class="mt-4 py-2 px-4 bg-indigo-600 text-white rounded hover:bg-purple-600">Reset Password</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</main>
